[Unit]
Description=Dropbox Service
After=network.target syslog.target

[Service]
ExecStart=/usr/bin/python %h/bin/dropbox start
ExecReload=/usr/bin/python %h/bin/dropbox restart
ExecStop=/usr/bin/python %h/bin/dropbox stop
Type=forking
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
